/*
 * This is the Unvibe theme CSS template.
 * Slots are marked as: /* SLOT:theme-vars * / (remove space)
 * Use this for generateTheme to inject theme variables.
 */
@import 'tailwindcss';

/* SLOT:theme-vars */

@theme inline {
  --color-background: var(--background);
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-foreground-1: var(--foreground-1);
  --color-foreground-2: var(--foreground-2);
  --color-border: var(--border);
  --color-border-1: var(--border-1);
  --color-border-2: var(--border-2);
  --font-mono: var(--font-mono);
}

/* default body styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body, 'Prompt', Arial, Helvetica, sans-serif);
  box-sizing: border-box;
}

/* Markdown styles scaffold */
.markdown-body {
  /* Base styles */
  color: var(--color-foreground-1);
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.markdown-body > * {
  @apply max-w-full w-full overflow-x-auto;
}
.markdown-body h1 {
  font-size: 2.25rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  font-weight: bold;
  border-bottom: 1px solid var(--border-1);
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
}
.markdown-body p {
  margin: 0.5em 0;
}
.markdown-body ul,
.markdown-body ol {
  padding-left: 2em;
}
.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}
.markdown-body code {
  border-radius: 0.5rem;
  padding: 0.2rem 0.4rem;
  font-family: var(--font-mono);
  font-size: 0.8rem;
  overflow-x: auto;
  background-color: var(--color-background-1);
}
.markdown-body pre {
  overflow: hidden;
  max-width: 100%;
  border: 1px solid var(--border-1);
  border-radius: 0.5rem;
}
.markdown-body pre code {
  display: block;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 0.75rem;
  font-family: var(--font-mono);
  overflow-x: auto;
}

code {
  @apply font-mono;
}

.highlighted-word {
  @apply bg-emerald-500/10;
}
.error-underline {
  @apply underline decoration-red-500;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  z-index: 99999;
  bottom: 100%;
  max-width: 100%;
  overflow-x: scroll;
  left: 0;
  @apply absolute p-4 rounded-xl border border-border bg-background-2 text-foreground-1 text-xs whitespace-pre-wrap;
  opacity: 0;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  background: var(--background-1);
  border: 1px solid var(--border-2);
  margin: 1em 0;
}
.markdown-body th,
.markdown-body td {
  border: 1px solid var(--border-2);
  padding: 0.5em 1em;
}
